# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Android 보안 파일
android/key.properties
android/app/google-services.json
android/app/src/debug/res/values/google_maps_api.xml
android/app/src/release/res/values/google_maps_api.xml

# iOS 보안 파일
ios/Runner/GoogleService-Info.plist
ios/Flutter/App.framework
ios/Flutter/Generated.xcconfig
ios/Podfile.lock
ios/Pods/

# 기타 OS 및 빌드 관련 파일
*.iml
*.swp
*.lock

.cursorrules